@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Font Variables */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-archivo: "Archivo", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Tailwind Font Variables */
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
  --font-archivo: var(--font-archivo);

  --font-sans: var(--font-archivo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo);
}


/* =========================
   Audience Card Scrollbar
========================= */

.audience-card div::-webkit-scrollbar {
  width: 4px;
}

.audience-card div::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 10px;
}

.audience-card div::-webkit-scrollbar-thumb {
  background: #EF7F1B;
  border-radius: 10px;
}

.audience-card div::-webkit-scrollbar-track:hover {
  background: #fff;
}

/* BFLS2025 section animation */

@keyframes dotsFloat {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-dots-float {
  animation: dotsFloat 3s ease-in-out infinite;
}

/* BFLS2025 section animation */

/* agenda section animation css */

@keyframes dotsFloat {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80px);
  }
}

.animate-dots-float {
  animation: dotsFloat 15s ease-in-out infinite;
}

/* agenda section animation css */

/* banner dots animation css */

@keyframes dotsSlide {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(200px);
  }
}

.animate-dots-slide {
  animation: dotsSlide 15s ease-in-out infinite;
}

/* banner dots animation css */
